@use '@lib' as *;
@use '@extends' as *;

body {
	font-family: $body-ff;
	font-size: $body-fs;
	font-weight: var(--fw-base);
	line-height: $body-lh;
	color: $body-text;
	letter-spacing: $body-ls;
	background-color: $body-bg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	overflow-anchor: none;
	transition:
		background-color var(--duration-base) var(--timing-base),
		color var(--duration-base) var(--timing-base);
}

:focus-visible {
	outline: var(--focus-ring-width, 2px) solid var(--focus-ring-color, var(--color-focus-ring));
	outline-offset: var(--focus-ring-offset, 2px);
	border-radius: var(--focus-ring-radius, 4px);
}

main,
section {
	&:focus-visible {
		--focus-ring-color: transparent;
	}
}

// main > section:first-of-type {
// 	padding-block-start: var(--header-height, var(--section-py));
// }

:where(.skip-to-content-link) {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem;
	transition: transform var(--duration-base) var(--timing-base);

	&:not(:focus, :focus-within) {
		@extend %visually-hidden;
	}

	&:not(:focus-within) {
		transform: translateY(-100%);
	}

	a {
		@extend %btn, %btn-primary;
	}
}
