@use '@lib' as *;

.dialog-window {
	position: fixed;
	top: min(20vh, #{size(300)});
	left: 50%;
	display: flex;
	visibility: hidden;
	flex-direction: column;
	gap: var(--spacing-3);
	align-items: center;
	justify-content: center;
	min-width: size(480);
	min-height: size(380);
	padding: var(--spacing-4) var(--spacing-5);
	pointer-events: none;
	background-color: var(--color-background-1);
	border: 2px solid var(--color-background-4);
	border-radius: var(--br-md);
	box-shadow: var(--shadow-base);
	opacity: 0;
	transform: translateX(-50%);
	transition:
		opacity var(--duration-base) var(--timing-base),
		visibility var(--duration-base) var(--timing-base);

	&.open {
		visibility: visible;
		pointer-events: all;
		opacity: 1;
	}
}
