@use '@lib' as *;

$custom-grid-sizes: 1, 2, 3, 4;

@each $size in $custom-grid-sizes {
	.custom-grid-#{$size} {
		--posts: #{$size};
		--gy: #{var(--spacing-gutter)};
		--gx: #{var(--spacing-gutter)};

		:where([class^='col']) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(max(260px, calc((100% / var(--posts)) - var(--gx))), 1fr));
			grid-gap: var(--gy) var(--gx);
		}

		:where([class^='module-']),
		:where([class^='wp-block-']) {
			--ms: 0;
		}
	}
}
