@use 'sass:math';
@use '@lib' as *;

// Text
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	@include bp-min(md) {
		text-align: right;
	}
}

// Match height
.match-height :where([class^='col']) > [class^='module-'],
.match-height :where([class^='col']) > [class^='wp-block-'] {
	height: 100%;
}

.align-end,
.row-align-end .wp-block-column {
	@include bp-min(md) {
		--ms: 0;

		display: flex;
		align-items: end;
	}
}

.align-center,
.row-align-center .wp-block-column {
	@include bp-min(md) {
		--ms: 0;

		display: flex;
		align-items: center;
	}
}

.justify-center,
.row-justify-center .wp-block-column {
	@include bp-min(md) {
		--ms: 0;

		display: flex;
		justify-content: center;
	}
}

.justify-end,
.row-justify-end .wp-block-column {
	@include bp-min(md) {
		--ms: 0;

		display: flex;
		justify-content: end;
	}
}

.row-fw,
.alignfull {
	width: 100%;
	max-width: none;
}

.alignwide {
	max-width: #{$max-width}px;
	margin-inline: auto;
}

.space-between,
.row-space-between .wp-block-column {
	@include bp-min(md) {
		--ms: 0;

		display: flex;
		gap: var(--spacing-2);
		justify-content: space-between;
	}
}

// Image mobile first
.img-mobile-first {
	@include bp-max(md) {
		:where([class^='col']):has(.module-image, .wp-block-image) {
			order: -1;
		}
	}
}
