@use '@lib' as *;

// Spacing utilities
@each $name, $value in $spacing {
	// Generic spacing utilities
	@include as-utilities('p', $name) {
		padding: var(--spacing-#{$name});
	}

	@include as-utilities('pt', $name) {
		padding-block-start: var(--spacing-#{$name});
	}

	@include as-utilities('pb', $name) {
		padding-block-end: var(--spacing-#{$name});
	}

	@include as-utilities('py', $name) {
		padding-block: var(--spacing-#{$name});
	}

	@include as-utilities('px', $name) {
		padding-inline: var(--spacing-#{$name});
	}

	@include as-utilities('m', $name) {
		margin: var(--spacing-#{$name});
	}

	@include as-utilities('mt', $name) {
		margin-block-start: var(--spacing-#{$name});
	}

	@include as-utilities('mb', $name) {
		margin-block-end: var(--spacing-#{$name});
	}

	@include as-utilities('my', $name) {
		margin-block: var(--spacing-#{$name});
	}

	@include as-utilities('mx', $name) {
		margin-inline: var(--spacing-#{$name});
	}
}
