@use '@lib' as *;

// Color utilities
@each $name, $value in $colors {
	// Generate text color class for each color
	@include as-utilities('text', $name) {
		color: var(--color-#{$name});
	}

	// Generate background color class for each color
	@include as-utilities('bg', $name) {
		background-color: var(--color-#{$name});
	}

	// Generate border color class for each color
	@include as-utilities('border', $name) {
		border-color: var(--color-#{$name});
	}
}
