@use '@lib' as *;

// Button base styles
%btn {
	display: inline-flex;
	align-items: center;
	padding-block: calc(var(--btn-py, #{$btn-py}));
	padding-inline: calc(var(--btn-px, #{$btn-px}));
	font-size: var(--btn-fs, #{$btn-fs});
	font-weight: var(--btn-fw, #{$btn-fw});
	line-height: 1;
	color: var(--btn-fg, currentcolor);
	letter-spacing: var(--ls-button-md-mod, #{$btn-ls});
	text-decoration: none;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background: var(--btn-bg, transparent);
	border: var(--btn-bw, #{$btn-bw}) solid var(--btn-bc, transparent);
	border-radius: var(--btn-br, #{$btn-br});
	transition: var(--duration-base) var(--timing-base);
	transition-property: var(--btn-trns-properties, color, background-color, border-color);

	&:hover,
	&-hover,
	&:focus-visible,
	&-focus {
		color: var(--btn-fg-hover, var(--btn-fg));
		background-color: var(--btn-bg-hover, var(--btn-bg));
		border-color: var(--btn-bc-hover, var(--btn-bc, transparent));
	}

	&:active,
	&-active {
		color: var(--btn-fg-active, var(--btn-fg));
		background-color: var(--btn-bg-active, var(--btn-bg));
		border-color: var(--btn-bc-active, var(--btn-bc, transparent));
	}

	&.disabled,
	&:disabled,
	&-disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

%btn-icon-after {
	&:hover {
		&::after {
			transform: translateX(4px);
		}
	}

	&::after {
		display: inline-block;
		width: var(--btn-icon-fs, #{$btn-icon-fs});
		aspect-ratio: 1;
		margin-inline-start: var(--btn-icon-space, #{$btn-icon-space});
		content: '';
		background-image: escape-svg($btn-arrow-right);
		background-repeat: no-repeat;
		background-size: contain;
		transition: transform var(--duration-base) var(--timing-base);
	}

	.dark-theme &::after {
		filter: invert(1) brightness(2);
	}
}

%btn-arrow {
	&::after {
		background-image: escape-svg($btn-arrow-right);
		background-repeat: no-repeat;
		background-size: contain;
	}
}

%btn-small {
	--btn-py: #{$btn-sm-py};
	--btn-px: #{$btn-sm-px};
	--btn-fs: #{$btn-sm-fs};
}

%btn-large {
	--btn-py: #{$btn-lg-py};
	--btn-px: #{$btn-lg-px};
	--btn-fs: #{$btn-lg-fs};
}

%btn-block {
	justify-content: center;
	width: 100%;
}

%btn-square {
	--btn-px: 0;
	--btn-icon-space: 0;

	align-items: center;
	justify-content: center;
	width: calc(((var(--btn-py, #{$btn-py}) + var(--btn-bw, #{$btn-bw})) * 2) + (var(--btn-lh, #{$btn-lh}) * 1em));
	aspect-ratio: 1;
}

// Button variations
@mixin btn-variant-silent($name) {
	%btn-#{$name} {
		--btn-bg: var(--color-#{$name});
		--btn-bg-hover: var(--color-#{$name}-hover);
		--btn-bg-active: var(--color-#{$name}-pressed);
		--btn-fg: var(--color-#{$name}-foreground);
		--btn-bc: var(--color-#{$name}-border);
		--btn-bc-hover: var(--color-#{$name}-border-hover);
		--focus-ring-color: var(--color-focus-ring);
	}
}

@each $name in $button-variations {
	@include btn-variant-silent($name);
}
