@use 'sass:math';
@use '@lib' as *;

$column-gap: var(--spacing-col-gutter, 3rem);
$grid-columns: 12;
$col-size: math.div(100%, $grid-columns);

.section {
	--section-py: var(--spacing-section);
	--section-mobile-py: var(--spacing-section-sm);
	--row-width: min((100% - (#{$margin-to-edge} * 2)), #{$max-width}px);
	--row-py: var(--spacing-row);
	--gx: var(--spacing-col-gutter);
	--gy: var(--spacing-row-gutter);

	padding-block: var(--section-spacing-py, var(--section-py, var(--section-spacing, 64px)));
	padding-inline: var(--section-spacing-px, var(--section-px, var(--section-spacing, 0)));

	@include bp-max(md) {
		padding-block: var(--section-py-mobile, var(--section-spacing-py, 64px));
	}
}

.row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gy, #{$column-gap}) var(--gx, #{$column-gap});
	width: var(--row-width, 100%);
	max-width: 100%;
	padding-block: var(--row-spacing-py, var(--row-py, var(--row-spacing, 24px)));
	padding-inline: var(--row-spacing-px, var(--row-px, var(--row-spacing, 0)));
	margin: var(--row-spacing-my, 0) auto;

	:where([class^='col']) {
		position: relative;
		width: var(--col-width, 100%);
	}

	.row {
		--row-py: 0;
		--row-px: 0;

		width: 100%;

		[class^='wp-block-'] + &[class^='wp-block-'],
		[class^='module-'] + &[class^='module-'] {
			--ms: 0;
		}
	}

	.col {
		&-12 {
			position: relative;
			width: var(--col-width, 100%);
		}

		@media (width >= 782px) {
			@for $col from 1 through $grid-columns - 1 {
				&-#{$col} {
					position: relative;
					width: var(--col-width, calc(#{$col-size * $col} - (var(--gx, #{$column-gap}) * #{$grid-columns - $col} / #{$grid-columns}) - 0.01px));
				}
			}
		}

		@media (width <= 767px) {
			&.empty {
				display: none;
			}
		}
	}

	.offset {
		@for $col from 1 through $grid-columns {
			@media only screen and (width >= 782px) {
				&-l-#{$col} {
					margin-left: calc(#{$col-size * $col} + (var(--gx, #{$column-gap}) * #{1 - math.div(($grid-columns - $col), $grid-columns)}) - 0.01px);
				}

				&-r-#{$col} {
					margin-right: calc(#{$col-size * $col} + (var(--gx, #{$column-gap}) * #{1 - math.div(($grid-columns - $col), $grid-columns)}) - 0.01px);
				}
			}
		}
	}
}

:where([class^='module-'] + [class^='module-']) {
	margin-block-start: var(--ms, var(--spacing-block-gap));
}
