@use '@lib' as *;
@use '@extends' as *;

@each $heading in $headings {
	#{$heading},
	.#{$heading},
	.is-style-#{$heading} {
		@extend %#{$heading};
	}
}

@each $size in $text-sizes {
	.text-#{$size},
	.#{$size},
	.is-style-#{$size} {
		@extend %text-#{$size};
	}
}

ul,
ol {
	padding-inline-start: 1.62em;

	&:not(:last-child) {
		margin-block-end: 1.6em;
	}
}

li {
	&:not(:last-child, .menu-item, .row-search-results-content *, .wp-block-qte-theme-listing *) {
		margin-block-end: 0.25em;
	}
}

:is(p, ul, ol) + :is(h2, h3, h4, h5, h6) {
	margin-top: var(--spacing-row);
}

.page-title {
	text-align: center;
}
